body, * {
  background-color: rgb(72, 70, 70);
  color: white;
  font-family: serif;
}

li {
    padding-top: 3px;
    font-size: 25px;
  }

  .error, .success {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .success {
    background-color: green;
    color: #e3dddd;
    height: auto;
    width: 50%;
    border: none;
  }


  form {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    width: fit-content;
    padding: 3%;
    background-color: #ebdfdf;
    border-radius: 10px;
  }

  button {
    border-radius: 10px;
    width: 200px;
    background: transparent;
  }
  


  input {
    width: 150px;
    height: 29px;
  }